@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'MallySemibold';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/MallySemibold.otf') format('opentype');
  }
  @font-face {
    font-family: 'Mally';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/MallyRegular.otf') format('opentype');
  }
  @font-face {
    font-family: 'Vayu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/VayuSansBold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'HeadingNow';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/HeadingNowTrial-28Heavy.ttf') format('truetype');
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
